body{
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#banner {
  text-align: center;
  position: relative;
}

#banner h1 {
 margin: 0;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
font-size: clamp(1.5rem, 2.5vw, 2.8rem);
color: white;
}

#banner img {
  width: 100%;
  max-height: 200px; /* Adjust the height as needed */
  object-fit: cover;
}

table {
  border-collapse: collapse;
  width: 75%;
  margin: 1em auto;
}

fieldset {
  margin: 1em;
  border: thin solid #4ECDC4;
  border-left: 0;
  border-right: 0;
  text-align: center;
  
}
legend {
  padding: 0 1em;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(56, 56, 56);
}
th, td {
  border: thin solid #ddd;
  padding: .7em;
  text-align: left;
}

thead th{
  background: rgb(87, 87, 87);
  color: white;
  text-transform: uppercase;
  text-align: center;
}
input, select {
  border: thin solid #4ECDC4;
  padding: 0.5em;
  border-radius: 0;
  cursor: pointer;
}

thead td:nth-child(6) {
  padding: 0 2em;
}
thead td:nth-child(5),
thead td:nth-child(6) {
  text-align: center;
}
tbody tr:nth-child(odd) {
  background: #4ECDC4;
  color: white;
}
th {
  background-color: #f2f2f2;
}
select, input[type="date"] {
  margin: 5px;
}

a{
  color: #2E282A;
  transition:200ms ease-in-out;
}

a:hover {
  color: #CD5334;
}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #4ECDC4;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 10px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

    td:empty {
      display: none;
     }

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "Date & Time"; }
		td:nth-of-type(2):before { content: "Event Type"; }
		td:nth-of-type(3):before { content: "Event Information"; }
		td:nth-of-type(4):before { content: "Venue"; }
		td:nth-of-type(5):before { content: "Cost"; }
		td:nth-of-type(6):before { content: "Tickets"; }
	}